<!--Card template using Mustache.js-->

{{#Exercises}}
<div class="exercises-cirle" ex-id="{{exID}}">
  <a
    type="button"
    class="btn starter-btn {{gradientColor}}"
    href="/practice/plan/{{index}}"
  >
    <div class="starter-btn-header">
      <div class="aligner">
        <h2 class="exercisesType name">{{name}}</h2>
        <h3 class="exercisesType words">{{time}} Words</h3>
        <p class="exercisesType info">
          {{info}}
        </p>
      </div>
    </div>
  </a>
</div>
{{/Exercises}}
