<!DOCTYPE html>
<HTML>

<HEAD>
	<TITLE>Zeeguu Reader</TITLE>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="stylesheet" href="{{ url_for('reader_blueprint.static',filename='styles/mdl/material.min.css') }}">
	<LINK rel="stylesheet" href="{{ url_for('reader_blueprint.static',filename='styles/login.css') }}" type="text/css">
	<LINK rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<SCRIPT src="{{ url_for('reader_blueprint.static',filename='styles/mdl/material.min.js') }}"></SCRIPT>
</HEAD>
<DIV class="loginbox">
	<H2>You need to sign in to use Zeeguu!</H2>
	<FORM method="post">
		<DIV class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<INPUT class="mdl-textfield__input" type="text" id="UserField" name="username">
			<LABEL class="mdl-textfield__label" for="UserField">Username</LABEL>
		</DIV>
		<BR />

		<DIV class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<INPUT class="mdl-textfield__input" type="password" id="PassField" name="password">
			<LABEL class="mdl-textfield__label" for="PassField">Password</LABEL>
		</DIV>
		<BR /><BR />

		<BUTTON class="mdl-button mdl-js-button 
					   mdl-button--raised mdl-js-ripple-effect 
					   mdl-button--accent" type="submit" id="loginbutton">
			Sign in
		</BUTTON>
	</FORM>
</DIV>

</HTML>