<div id="question_reasons_not_to_finish" style="display:none;">

    <div class="feedback_question">
        Was there a problem with the article?
    </div>

    <div id="article_feedback_buttons">

    
        {% for button_info in [
                ("not_finished_for_no_reason","No"),
                ("not_finished_for_too_difficult","Difficult"),
                ("not_finished_for_incomplete", "Incomplete"),
                ("not_finished_for_boring","Boring"),
                ("not_finished_for_too_long","Long"),
                ("not_finished_for_other","Other problem")] %}

            <a href="{{ url_for('reader_blueprint.articles') }}">
                <button
                        id="{{ button_info[0] }}"
                        class="mdl-button mdl-js-button mdl-button--raised"
                        style="margin-bottom: 6px"
                >
                    {{ button_info[1] }}
                </button></a>&nbsp;

        {% endfor %}


    </div>

</div>
