<!--Exercise 1 custom template-->

<div>
	<div class = "custom-header">
		<div class="col-xs-12 text-center block-header">
			<p id = "ex-to" class = "h3"></p>					
		</div>
	</div>

	<div class="row ex-content">			
		<div class="col-xs-12">
			<p id = "ex-context" class="h3 clickable-text">						
			</p>
			<br />
			<p id = "typo-information">
			</p>
		</div>		
	</div>
	
	

	<div class="post row ex-footer">
        <div id = "ex-footer-primary" class = "mask mask-appear">
            <div id = "show_solution" class="col-xs-3 ex-footer-elem ex-clickable ex-footer-elem-left" href="#">
                <img  class="clickable-symbol clickable-symbol-size" src="static/img/grey-question.png">
            </div>

            <div class="col-xs-6 ex-footer-elem ex-clickable">
                <input id = "ex-main-input" class="ex-input-box" placeholder="type or click the text" data-original-title="" title="">
            </div>

            <div id = "check_answer"class="col-xs-3 ex-footer-elem ex-clickable ex-footer-elem-right" href="#">
                 <button class = " text-btn check-text-btn clickable-symbol responsive-btn">Check</button>
            </div>
        </div>
        <div id = "ex-footer-secondary"  class = "mask" >
            <div id = "feedback" class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-left" href="#">
                <button class = " text-btn feedback-text-btn clickable-symbol">Feedback</button>
            </div>

            <div class = "col-xs-6">
            </div>

            <div id = "next-exercise"class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-right" href="#">
                 <img class="clickable-symbol clickable-symbol-size" alt = "Next" src="static/img/next-ex.svg">
            </div>
        </div>
	</div>


</div>

