<!--Exercise 2 template-->

<div>
	<div class = "custom-header">
		<div class="block-header">
			<p id = "ex-to" class = "h3"></p>
		</div>
	</div>

	<div class="ex-content">
		<div class="ex-content-box">
			<p id = "ex-context" class="h3">
			</p>
		</div>
	</div>

    <div class = "responsive-footer">
	<div class="ex-footer">
        <div id = "ex-footer-primary" class = "mask mask-appear">
            <div class=" ex-footer-elem ex-clickable">
                <button type = "button" id = "btn1" class = "btn btn-standard option-btn clickable-symbol"></button>
                <button type = "button" id = "btn2" class = "btn btn-standard option-btn clickable-symbol"></button>
                <button type = "button" id = "btn3" class = "btn btn-standard option-btn clickable-symbol"></button>
            </div>
        </div>
        <div id = "ex-footer-secondary"  class = "mask" >
            <div id = "feedback" class=" ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-left" href="#">
                <button class = " text-btn feedback-text-btn clickable-symbol">Feedback</button>
            </div>

         

            <div id = "btn-speak" class = "icon-container" type="button">
                 <button class = "sound-icon sound-icon-text-btn text-btn clickable-symbol">Listen <img class= "sound-img"src="static/img/icons/orange-volume.svg"/> </button>
             </div>

            <div id = "next-exercise"  href="#">
                <img class="clickable-symbol clickable-symbol-size" alt = "Next" src="static/img/icons/next-arrow.svg">
           </div>
        </div>
	</div>
        </div>
</div>