<!--Exercise 2 template-->

<div>
	<div class = "custom-header">
		<div class="col-xs-12 text-center block-header">
			<p id = "ex-to" class = "h3"></p>
		</div>
	</div>

	<div class="row ex-content">
		<div class="col-xs-12">
			<p id = "ex-context" class="h3">
			</p>
		</div>
	</div>

    <div class = "responsive-footer">
	<div class="row ex-footer">
        <div id = "ex-footer-primary" class = "mask mask-appear">
            <div class="col-xs-12 ex-footer-elem ex-clickable">
                <button type = "button" id = "btn1" class = "btn btn-default option-btn clickable-symbol"></button>
                <button type = "button" id = "btn2" class = "btn btn-default option-btn clickable-symbol"></button>
                <button type = "button" id = "btn3" class = "btn btn-default option-btn clickable-symbol"></button>
            </div>
        </div>
        <div id = "ex-footer-secondary"  class = "mask" >
            <div id = "feedback" class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-left" href="#">
                <button class = " text-btn feedback-text-btn clickable-symbol">Feedback</button>
            </div>

            <div class="col-xs-6 ">
            </div>

            <div id = "next-exercise"class="col-xs-3 ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-right" href="#">
                 <img class="clickable-symbol clickable-symbol-size" src="static/img/next-ex.svg">
            </div>
        </div>
	</div>
        </div>
</div>