<!--Exercise 3 template-->

<div>			
	<div class = "custom-header">
		<div class="block-header">
			<p id = "ex-to" class = "h3"></p>					
		</div>
	</div>
	
	<div class="ex-content exerciseThree">
		<div class="ex3-column-center">
			<button type = "button" id = "btn1" class = "btn btn-standard option-btn ellipsis"></button><br/>
			<button type = "button" id = "btn3" class = "btn btn-standard option-btn ellipsis"></button><br/>
			<button type = "button" id = "btn2" class = "btn btn-standard option-btn ellipsis"></button><br/>
		</div>
		<div class="ex3-column-center">
			<button type = "button" id = "btn4" class = "btn btn-standard option-btn ellipsis"></button><br/>
			<button type = "button" id = "btn5" class = "btn btn-standard option-btn ellipsis"></button><br/>
			<button type = "button" id = "btn6" class = "btn btn-standard option-btn ellipsis"></button><br/>
		</div>				
	</div>
	
	<div class="ex-footer">
        <div id = "ex-footer-primary" class = "mask mask-appear">
			<div id = "show_solution" class=" ex-footer-elem ex-clickable ex-footer-elem-left" href="#">
                <button class = " text-btn hint-text-btn clickable-symbol ">Hint</button>
            </div>

          
        </div>
        <div id="ex-footer-secondary" class="mask">
            <div id="feedback" class=" ex-footer-elem ex-clickable secondary-ex-footer-elem ex-footer-elem-left"
                 href="#">
                <button class=" text-btn feedback-text-btn clickable-symbol">Feedback</button>
            </div>

         
			<div id = "next-exercise"  href="#">
                <img class="clickable-symbol clickable-symbol-size" alt = "Next" src="static/img/icons/next-arrow.svg">
           </div>
        </div>
	</div>
</div>