<!--General exercise template-->
<script>
  document.body.style.backgroundColor = "#e9e9e9";
</script>

<div id="ex-module">
  <div class="progress-module">
    <div class="ex-progress">
      <div id="ex-bar"></div>
    </div>
  </div>
  <div id="ex-container" class="ex-container ex-form">
    <div class="container-fluid fluid clear-top">
      <div class="ex-header">
        <div class="general-btn-container"></div>
        <div class="ex-status-wrapper">
          <div id="ex-status">
            <div id="ex-description-container">
              <p id="ex-descript" class="h3"></p>
            </div>
            <div id="ex-status-container" class="status-animation hide">
              <svg
                id="temp-ex-success"
                class="checkmark"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 52 52"
              >
                <circle
                  class="checkmark__circle"
                  cx="26"
                  cy="26"
                  r="25"
                  fill="none"
                />
                <path
                  class="checkmark__check"
                  fill="none"
                  d="M14.1 27.2l7.1 7.2 16.7-16.8"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="ex-content-container">
        <!-- Here gets the different exercises loaded-->
        <div id="custom-content"></div>
      </div>
    </div>
  </div>
</div>
