{% extends "layout_simple.html" %}



{% block body %}

    <div class="container welcome-message">

        <h2>After EASEAI 2019</h2>

        <h3 style="color: green">Become a Beta-Tester</h3>
        <div style="margin-left: 20px; margin-bottom: 1.5em">
            Use the invite code EASEAI on the <a href="./create_account"> create account page</a>.
        </div>


        <h3 style="color: green">Read More</h3>
        <div style="margin-left: 20px; margin-bottom: 1.5em">

            Have a look at the <a
                href="https://github.com/mircealungu/mir-biblio/blob/master/aslan.bib.md#zeeguu">papers about Zeeguu</a>.
            <br/>
            <a href="https://owncloud.itu.dk/index.php/s/3LnRRpbFp0Ck1Z4">Download</a> the slides that Mircea presented during the conference.

        </div>


        <h3 style="color: green">Contact</h3>
        <div style="margin-left: 20px; margin-bottom: 1.5em">
            For feedback, discussion, or collaboration ideas contact <a href="https://mircealungu.github.io">Mircea</a>
        </div>


    </div>

{% endblock %}
