{% set active_page = "home" %} {% extends "layout_simple_white.html" %} {% block
body %}

    <!-- Macros Used on this Page -->
    {% macro member(name, role) -%}
        <div class="member" xmlns="http://www.w3.org/1999/html"><b>{{ name }}</b></div>
        <div class="member">
            <small>{{ role }}</small>
        </div>
        <br/>
    {%- endmacro %}
    <!-- Macros Used on this Page -->

    <!-- Macros Used on this Page -->
    {% macro memberlink(name, role, link) -%}
        <div class="member" xmlns="http://www.w3.org/1999/html">
            <b><a href="{{ link }}">{{ name }}</a></b>
        </div>
        <div class="member">
            <small>{{ role }}</small>
        </div>
        <br/>
    {%- endmacro %}
    <!-- Macros Used on this Page -->

    <nav>
        <div id="login" class="loginHeader">
            <p>Zeeguu</p>
            <div class="signin">
                <a href="{{ url_for('account.login') }}">Sign In</a>
            </div>
        </div>
    </nav>

    <div class="logoContainer">
        <img class="logoElephant swing" src="../static/img/zeeguuLogo.svg"/>
        <h1>Zeeguu</h1>
        <h2>
            A research project aiming to
            personalize reading and vocabulary
            practice in a foreign language
        </h2>

        {% if not g.user %}
            <button class="becomeBeta">
                <a href="./create_account">Become a Beta Tester</a>
            </div>
            </button>
        {% endif %}
    </div>

    <!--THREE STEPS PRESENTATION-->

    <div class="howTo">
        <h1 style="font-size: 64px">Towards Your <br/> Personalized Textbook </h1>
        <div class="containers">
            <div class="htContainer">
                <h1>Find interesting texts at the right difficulty</h1>
                {#                <h3>that are not too difficult for you</h3>#}

                <div class="hithere">
                    <img class="iconHowTo" src="../static/img/findArticle.svg"/>
                </div>

                <p>

                    Our system continuously searches the Internet for
                    new texts based on your interests.
                    It estimates their difficulty to present you with those
                    in the <i>zone of proximal development</i>:
                    not too hard to make you give up,
                    but not too easy to bore you.

                </p>

                <p>

                    Unlike the generic texts destined for the average learner
                    that you can find in textbooks, personally relevant texts
                    will motivate you to study more.
                    {#                    This in turn  will result in you learning more.#}

                </p>
            </div>

            <div class="htContainer">
                <h1>Read with seamless support for translations </h1>

                <div class="hithere">
                    <img class="iconHowTo" src="../static/img/click.svg"/>
                </div>

                <p>

                    Studies show that you learn best when the texts that you read
                    are a little challenging.

                    This means that in the ideal text you will still encounter words that
                    you don't understand.
                </p>

                <p>
                    By using machine translation our system helps you obtain
                    translations in any text with a simple click (or tap
                    on touch-enabled devices).
                </p>

                <p>
                    The system also provides word pronunciation support.
                </p>
            </div>

            <div class="htContainer">
                <h1>Optimally practice your personalized vocabulary</h1>

                <div class="hithere">
                    <img class="iconHowTo" src="../static/img/correct.svg"/>
                </div>

                {#                <p>#}
                {#                    Words that you once translated, go into your own#}
                {#                    <b>private word list</b> and are available#}
                {#                    from all your devices.#}
                {##}
                {#                </p>#}

                <p>
                    Based on your past interactions with texts
                    the system uses machine learning
                    a model of your vocabulary knowledge.

                    It then generates a variety of vocabulary exercises,
                    some of which, even use the original context of the word
                    because contextual learning works better.
                </p>

                <p>
                    Spaced repetition algorithms optimize your practice and
                    frequent words are prioritized.

                    {#                    It also prioritizes words by their importance in the learned language.#}
                </p>

            </div>
        </div>
    </div>

    <div class="articleContain">
        <h1>Read More in our CHI'18 Paper</h1>
        <a
                href="https://www.researchgate.net/publication/322489283_As_We_May_Study_Towards_the_Web_as_a_Personalized_Language_Textbook"
                target="_blank"
        >
            <img class="article" src="../static/img/chi-paper-cover.png"/>
        </a>
    </div>

    <!--NEWS-->

    <div class="newsContainer">
        <h1>News</h1>


        <div class="newsItem">
            <span class="dateSpan new"> Sept '20</span>
            <p>
                👨‍🎓👩‍🎓 Two more high-schools in the Netherlands starts using Zeeguu in their French classroom
            </p>
        </div>


        <div class="newsItem">

            <span class="dateSpan new">Aug '20</span>
            <p>
                Workshop about Zeeguu at
                <a href="https://eurocall2020.ku.dk/" target="_blank"
                >EuroCALL 2020</a
                >.
            </p>

        </div>


        <div class="newsItem">

            <span class="dateSpan new">Jul '20</span>
            <p>
                The users of Zeeguu reach 40'000 distinct words practiced within the exercises
            </p>

        </div>

        <div class="newsItem">
            <span class="dateSpan new">Aug '19</span>
            <p>
                Mircea talks about Zeeguu at
                <a href="https://sites.uclouvain.be/eurocall2019/" target="_blank"
                >EuroCALL 2019</a
                >
{#                and <a href="https://easeai.github.io" target="_blank">EASEAI 2019</a>#}
            </p>

        </div>

{#        <div class="newsItem">#}
{#            <span class="dateSpan new">Jul '19</span>#}
{#            <p>#}
{#                We have moved to zeeguu.org#}
{#            </p>#}
{#        </div>#}

{#        <div class="newsItem">#}
{#            <span class="dateSpan new">Apr '18</span>#}
{#            <p>#}
{#                Mircea presents in Montreal a paper about Zeeguu#}
{#                at <a href="https://chi2018.acm.org/">CHI'18</a>!#}
{#            </p>#}
{#        </div>#}

        <div class="newsItem">
            <span class="dateSpan new">Jan '18</span>
            <p>Paper about Zeeguu accepted at <a href="https://chi2018.acm.org/">CHI 2018</a> -- the top international conference on HCI 🎉 </p>
        </div>

        <div class="newsItem">
            <span class="dateSpan new">May '17</span>
            <p>👩‍🎓 Students at the Gomarus College in Netherlands start using Zeeguu in their French classroom </p>
        </div>

        <div class="newsItem">
            <span class="dateSpan new">Dec '16</span>
            <p>Zeeguu is online and ready to welcome beta-testers </p>
        </div>


    </div>



    </div>






    <!--TEAM-->

    <div class="teamContainer">
        <h1>Contributors</h1>

        <small>
            The project has benefited from the contributions and advice from many
            people.
            <br/>
            Some of them are listed here:
        </small>
        <div class="teamMembers">
            <div>
                {{ member("Mircea Lungu", "Production, maintenance") }}
            </div>
            <div>
                {{ member("Katrine Iversen", "UI Modernization") }}
            </div>
            <div>
                {{ member("Konstantina Argyropoulou", "UI Modernization") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Kristin Kallevik", "UI Modernization") }}
            </div>
            <div>
                {{ member("Feiko Ritsema", "Topic Browser") }}
            </div>
            <div>
                {{ member("Lars Holdijk", "API Design") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Dan Chirtoaca", "Universal Multilingual Reader") }}
            </div>
            <div>
                {{ member("Alexander Lukjanenkovs", "Learner Feedback") }}
            </div>
            <div>
                {{ member("Anca Lungu", "Linguistics") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Linus Schwab", "Android RSS Feed Reader") }}
            </div>
            <div>
                {{ member("Jeroen van Engen", "Education Feedback") }}
            </div>
            <div>
                {{ member("Mads Kristian Brodt Nielsen ", "Teacher Dashboard") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Sybren van Vliet", "Forgiving Exercise Feedback") }}
            </div>
            <div>
                {{ member("Martin Avagyan", "Language Exercises") }}
            </div>
            <div>
                {{ member("Luc van der Brand", "Universal Multilingual Reader") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Jorrit Oosterhof", "iOS News Reader") }}
            </div>
            <div>
                {{ member("Karan Sethi", "Knowledge Estimator") }}
            </div>
            <div>
                {{ member("Pascal Giehl", "Android Development") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Simon Marti", "Initial API and Chrome Extension") }}
            </div>
            <div>
                {{ member("Wim Gombert", "Education Feedback") }}
            </div>
            <div>
                {{ member("Alin Balutoiu", "Performance and Scalability") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Jonathan Sparvath", "Teacher Dashboard") }}
            </div>
            <div>
                {{ member("Joël Grondman", "Personalized Difficulty Estimator") }}
            </div>
            <div>
                {{ member("Carlos Paz", "Knowledge Dashboard") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Johan De Jager", "Translation Multiplexer") }}
            </div>
            <div>
                {{ member("Ada Lungu", "UX and Web Design") }}
            </div>
            <div>
                {{ member("Niels Haan", "Smartwatch Development") }}
            </div>
        </div>
        <div class="teamMembers">
            <div>
                {{ member("Vlad Turbureanu", "Language Exercises") }}
            </div>
        </div>

        <div class="acknowledgements">
            <h1>Acknowledgements</h1>

            <small>zeeguu.org is hosted in the Google Cloud Platform</small>
            <br/>

            <small>Zeeguu uses many open source libraries and free APIs.</small>
            <br/>

            <small>Some of them are listed below.</small>
            <br/>

            <div class="other">
                <div>
                    {{ member("Glosbe", "Online translation API") }}
                </div>
                <div>
                    {{ member("PyCharm", "Our Favorite IDE") }}
                </div>
                <div>
                    {{ member("Flask", "Web Development with Python") }}
                </div>
                <div>
                    {{ memberlink("Flask Monitoring Dashboard", "Internal API monitor",
        "https://github.com/flask-dashboard") }}
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

{% endblock %}
