{% extends "layout_simple.html" %}

{% set active_page = "install" %}

{% block body %}

<div class="container welcome-message">
    <h2>Installing Zeeguu</h2><br/>


    <h2>
        <img height="40px" src="../static/img/chrome-logo.png"/>&nbsp;
        For Chrome

    </h2>
    From your Chrome Browser, go to the <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">Chrome Extension Store </a> and install the Zeeguu extension.
    <br/>

    <!--After the installation remember that:-->
    <!--<ol>-->
        <!--<li>-->
        <!--Before using the plugin you must click on the (newly available) elephant icon-->
        <!--in your toolbar and login with your Zeeguu account-->
        <!--</li>-->
        <!--<li>-->
        <!--You must enable the plugin on every website by clicking the-->
            <!--grayed out elephant icon and pressing the on/off-->
            <!--button from the dropdown menu.-->
        <!--</li>-->
        <!--<li>-->
        <!--To get translations for words you must hold the alt key and select the text you-->
            <!--want to translate.-->
            <!--To automatically translate selected text, you must select the little lightning-->
            <!--button from the same dropdown menu of earlier.-->
        <!--</li>-->

    <!--</ol>-->



</div>

{% endblock %}
