<!--Home page-->
<!-- <script>
  document.body.style.backgroundColor = "#FFFFFF";
</script>

<div id="home-body">
  <div id="home-container" class="home-container">
    <div class="container-fluid clear-top fluid">
      <div class="row home-header">
        <div class="">
          <h1 class="display-1 home-header-text">Choose an Exercise</h1>
        </div>
      </div>
      <div class="row home-content" id="exercieses-cards"></div>
      <div class="row home-footer">
        <div class=""></div>
      </div>
    </div>
    <div id="footnotes">
      <span>Exercises by © Zeeguu | </span>
      <a id="credits">Credits</a>
    </div>
  </div>
</div>
--> 