<!--Home page-->
<script>document.body.style.backgroundColor = "#484e54";</script>

<div id = "home-body">
	<div id = "home-container" class = "home-container">	
		<div class="container-fluid clear-top fluid">	
			<div class="row home-header">
				<div class="col-xs-12">
					<h1 class="display-1 home-header-text">Choose an Exercise</h1>
				</div>
			</div>				
			<div class="row home-content" id = "exercieses-cards">							
			</div>				
			<div class="row home-footer">	
				<div class="col-xs-12"></div>
			</div>				
		</div>		
	</div>
	<div id = "footnotes">
		<span>Exercises by © Zeeguu | </span>
		<a id = "credits">Credits</a><br/>
		<span id = "attribution" class = "hide">Icons made by Freepik from www.flaticon.com</span>
	</div>		
</div>