<!--Card template using Mustache.js-->

<div class="empty-page-content">
  <div id="emptyPage">
    <div class="empty-page-container">
      {{#title}}<span class="empty-page-title h3">{{title}}</span>{{/title}}
      {{#info}}<span class="empty-page-info h5">{{info}}</span>{{/info}}

      <div id="gooAnimation">
        <div class="animation_container">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
          <div class="dot dot-3"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="10"
                result="blur"
              />
              <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"
              />
            </filter>
          </defs>
        </svg>
      </div>
      <div></div>
    </div>
  </div>
</div>
