{% extends "bookmarks/layout_bookmarks.html" %}

{% from "layout_common.html" import no_words_yet %}

{% set active_page = "bookmarks" %}

{% block body %}



<div class="mainWordsContainer" id="wordsContainer">

    <div class="wordsHeader">
        <div>
            <h1 class="titleHeader">Review Your Words</h1>
            <div class="pagesContainer">
                <a class="wordpagesLinks active" href="/bookmarks">Translated Words</a>
                <a class="seperator">|</a>
                <a class="wordpagesLinks" href="/starred_bookmarks">Starred Words</a>
                <a class="seperator">|</a>
                <a class="wordpagesLinks" href="/learned_bookmarks">Learned Words</a>
                <a class=" seperator">|</a>
                <a class="wordpagesLinks" href="/top_bookmarks">Top Words</a>
            </div>
        </div>
    </div>

    {% include  "sideBar.html" %}

    {{ top_message("Star a word to ensure it appears in your exercises.") }}

    {% if sorted_dates %}

    {% for date in sorted_dates %}
    <div class="outerDate">
        <div class="dateContainer">
            <h1 class="date">{{ date.strftime("%A %B %d, %Y") }} </h1>
        </div>
    </div>
    {% for url in urls_for_date.get(date) %}

    <div class="articleContainer">
        <div class="verticalLine"></div>
        <div class=titleContainer>
            <h2 class="articleTitle">{{ url.title }}</h2>
        </div>
        <div class="openArticle">

            <a class="open"
                href="{{ url_for('reader_blueprint.get_article') + "?articleID="}}{{ article_ids_for_urls[url] }}">
                <p class="customP">Open</p>
            </a>
       
        </div>

    </div>

    {% for context in contexts_for_url.get(url) %}
    <table width="100%" class="table table-no-borders">
        {% for bookmark in bookmarks_for_context.get(context) %}
        <tr id="bookmark{{ bookmark.id }}">
            <td style="text-align: left; width: 1em; padding-left: 1em; padding-top: 0.4em;">

                <a href="javascript:void(0);" onclick="deleteBookmark({{ bookmark.id }})" id="trash">
                    <img src="{{ url_for('static', filename='img/trash.svg') }}" alt="trash" />
                </a>
            </td>

            <td width="40px" class="word-action-buttons-td">
                <div class="word-action-buttons">

                    <div id="star{{ bookmark.id }}">
                        {% if bookmark.starred %}
                        <a href="javascript:void(0);" onclick="unstarBookmark({{ bookmark.id }})">
                            <img src="{{ url_for('static', filename='img/star.svg') }}" alt="star" />
                        </a>
                        {% else %}
                        <a href="javascript:void(0);" onclick="starBookmark({{ bookmark.id }})">
                            <img src="{{ url_for('static', filename='img/star_empty.svg') }}" alt="star" />
                        </a>
                        {% endif %}
                    </div>
                </div>
            </td>

            <td colspan="2" class="word-details-td">
                <div class="impression">
                    {{ bookmark.from_ }}
                    <span style="color: black"> – </span>
                    {{ bookmark.to }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% endfor %}
    {% endfor %}


</div>
{% else %}
{{ no_words_yet() }}
{% endif %}
{% endblock %}