#addableFeedList {
  display:block;
  height: 35vh;
}

#languageOptionList {
  text-align:center;
  height:1em;
  vertical-align: text-top;
  margin-bottom: 4em;
}

.langButton {
  margin-bottom: 1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.langButton.focused {
  position:relative;
  animation: move_up 0.2s forwards;
}

@keyframes move_up {
  0%
  {
    top: 0;
  }
  80%
  {
    top:-0.5em;
  }
  100%
  {
    top:-0.3em;
  }
}

.addableTitle {
  display:block;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.feedIcon {
  background: white;
  width: 32px;
  height: 32px;
}

.material-icons.md-light {
  color: white;
}

.feedAddTitle {
  font-size: 2.3em;
  text-align: center;
}

.feedAddSubTitle {
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.list-control {
  overflow-y: scroll;
}