*
{
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}

.mdl-layout__content {
  background-color: #f2f2f2;
  overflow-y: overlay;
}

.is-casting-shadow
{
  box-shadow: 0em 0em 1em lightgray !important;
}

.home-button
{
  color: #030303 !important;
}

.mdl-layout__tab-bar
{
  background-color: #f7f7f7;
  max-width: 62em !important;
  margin: auto;
  border-radius: 0.3em;
}

.mdl-layout__tab .material-icons
{
  vertical-align: middle;
}

.inbox-icon
{
  color: #7c7b74;
}

.star-icon
{
  color: #7c7b74;
}

.publishingTime {
  color: #7c7b74;
  font-size:small;
}

.articleLinkList
{
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
  cursor: pointer;
}

.articleLinkEntry + .articleLinkSpacer
{
  padding: 0.3em;
  box-shadow: 0px -0.5em 1.5em #FFF;
}

.articleLinkEntry
{
  border-radius: 0.3em;
  background-color: white;
  box-shadow: 0px -0.3em 0.5em #e5e5e5;
  animation: articleLinkShow 0.5s 0s 1 linear;
  vertical-align:middle;
  width: 100%;
  border-spacing: 10px;
}

@keyframes articleLinkShow
{
  0%
  {
    opacity: 0;
  }
  100%
  {
     opacity: 1;
  }
}

.articleLinkEntry a
{
  color:black;
  text-decoration:none;
}

.articleLinkEntry a:visited, .alreadyOpenedArticle a
{
  color: #909090 !important;
}

.articleLinkHeader
{
  display: table;
  vertical-align:middle;
  width: 100%;
  table-layout: fixed;
}


.headerElement
{
  display: table-cell;
}


.articleLinkDifficulty
{
  width: 3em;
}

.articleLinkDifficultyText
{
  position: absolute;
  padding: 0.3em;
  width: 3em;
  height: 3em;
  font-weight: bold;
  font-size: x-small;
  text-align: center;
  border-radius: 2em;
  z-index: 1;
}

.wordCount
{
  font-size: x-small;
  color: gray;
  white-space:nowrap;
}

.linkLanguageIcon
{
  position: absolute;

  top: 1.4em;
  left: 1.4em;
  z-index: 2;
}

.starredFlag
{
  width: 2em;
}

.articleLinkImage
{
  width: 2.3em;
  height: 2.3em;
  text-align: center;
  border-radius: 1.5em;
}

.articleLinkDifficultyText.EASY
{
    background: #d3ffb2;
}

.articleLinkDifficultyText.MEDIUM
{
    background: #fff9b2;
}

.articleLinkDifficultyText.HARD
{
    background: #ff7070;
}

.articleLinkTitle
{
  font-size: large;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.articleLinkEntry:hover
{
  box-shadow: 0em 0em 1em grey;
  border:none;
}

.highlightedArticle
{
  background-color: lightblue;
}


.articleLinkTitle::first-letter {
    font-size: 130%;
}

.articleLinkSummary {
  margin:auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 59em;
  height: 5.5em;
  overflow:hidden;
}

.articleTopics {
  margin:auto;
  color: #7c7b74;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 59em;
  height: 2.2em;
  overflow:hidden;
}

.options
{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.mdl-chip
{
	max-width: 90%;
}

.list_item
{
  margin-left: 7.5%;
}

.mdl-chip__text
{
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

a
{
   color: black !important;
   cursor: pointer;
}

#return_home
{
  color: rgba(0,0,0,.26) !important;
}

.mdl-layout__drawer-button
{
  color: black !important;
}

body
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*
BEGIN: Moving the drawer to the right
====================================
cf: https://stackoverflow.com/a/32539822/1200070
*/

/* ORIGINAL 
.mdl-layout__drawer-button, .mdl-layout__drawer{
    left: initial;
    right: 0;
}

.mdl-layout__drawer{
    transform:translateX(250px);
}

.mdl-layout__header-row {
    padding-left: 10px;
}
*/

/*
END: Moving the drawer to the right
====================================
*/

.searchNotification
{
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
  cursor: pointer;
}

.searchText
{
  font-size: large;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  width: 97%;
}

.deleteSearch
{
  text-align: center;
  vertical-align: bottom;
  width: 2em;
}

/* This changes the order of the SWAL buttons */
.sa-button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.sa-button-container .cancel {
  -webkit-order: 2;
  order: 2;
}
.sa-button-container .sa-confirm-button-container {
  -webkit-order: 1;
  order: 1;
}